.show {
    margin: auto;
    width: 890px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.show_select {
    margin: 0px 5px;
}

.list {
    margin: auto;
    width: 890px;
    text-align: center;
    margin-top: 10px;
    font-size: 16.5px;
    border-spacing: 0;
    border-bottom: 1px solid black;
}

.list_thead {
    border-bottom: 1px solid #111;
    padding: 10px 0px;
    cursor: pointer;
}

.list_thead:hover {
    background-color: rgb(225, 243, 255)
}

.list_tbody {
    background-color: aliceblue;
    height: 35px;
}

.list_line {
    border-top: 1px solid rgb(136, 200, 255);
}


.show_page {
    display: flex;
}

.show_page_prev {
    margin-right: 8px;
    cursor: pointer;
}

.show_page_next {
    margin-left: 8px;
    cursor: pointer;
}